@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-regular.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-regular.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bold.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-bold.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-italic.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-italic.woff?sha=3114f1256') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('../fonts/hack-bolditalic.woff2?sha=3114f1256') format('woff2'), url('../fonts/hack-bolditalic.woff?sha=3114f1256') format('woff');
  font-weight: 700;
  font-style: italic;
}

:root {
  --md-code-font: Hack, Monospace;
  --jh-con-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12zm8.036-4.024a.75.75 0 0 0-1.06 1.06L10.939 12l-2.963 2.963a.75.75 0 1 0 1.06 1.06L12 13.06l2.963 2.964a.75.75 0 0 0 1.061-1.06L13.061 12l2.963-2.964a.75.75 0 1 0-1.06-1.06L12 10.939 9.036 7.976z'/%3E%3C/svg%3E");
  --jh-pro-con: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' d='M1 12C1 5.925 5.925 1 12 1s11 4.925 11 11-4.925 11-11 11S1 18.075 1 12zm16.28-2.72a.75.75 0 0 0-1.06-1.06l-5.97 5.97-2.47-2.47a.75.75 0 0 0-1.06 1.06l3 3a.75.75 0 0 0 1.06 0l6.5-6.5z'/%3E%3C/svg%3E");
}

[data-md-color-scheme="slate"] {
    --md-hue: 205; 
  }  

.md-header__title, h1{
    font-family: var(--md-code-font);
}

.md-button {
    font-family: var(--md-code-font);
    font-size: 0.75rem;
    width: 360px;
    text-align: center;
}

.md-social__link svg {
    vertical-align: middle;
}
  
.jh-social {
    margin: auto;
    display: flex;
    align-items: baseline;
    padding: 0px;
    margin-top: 15px;
}

.nt-card .nt-gallery-image {
    text-align: center;
    border-radius: 5px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 200px;
}

.nt-card .nt-gallery-image img {
    height:200px;
    margin-top:5px
}

.nt-gallery-content {
    padding:.4rem
}

.nt-card .nt-gallery-title {
    text-align: center;
    /* font-weight: 400; */
    font-size: 0.9em;
    font-weight: 700;
    margin:4px 0 8px 0;
    line-height:20px
}

.gslide-desc {
    font-family: var(--md-body-font);
}

.gslide-title {
    font-family: var(--md-header-font);
}

.jh-green {
    color: green;
}

.jh-red {
    color: crimson;
}

.jh-proconlist .task-list-item {
    list-style-type: none !important;
} 
 
.jh-proconlist .task-list-control input[type="checkbox"] + .task-list-indicator::before {
    mask-image: var(--jh-con-icon);
    background-color: #cc2222;
} 

.jh-proconlist .task-list-control input[type="checkbox"]:checked + .task-list-indicator::before {
    mask-image: var(--jh-pro-con);
    background-color: #1EBB52;
} 
